.page .page #wrap #inner .wrap #content div.wpb_row.dboxsection {
	padding: 0;
}

.vc_row .detailBox,
.detailBox {
	background-color: transparent;
	background-color: rgba(0, 0, 0, .2);
	padding: 2em;
}

.vc_row .detailBox:before,
.vc_row .detailBox:after,
.detailBox:before,
.detailBox:after {
	display: table;
	height: 0;
	content: "";
}

.vc_row .detailBox:before,
.detailBox:before {
	margin-left: 0;
}

.vc_row .detailBox:after,
.detailBox:after  {
	clear: both;
}

.vc_row .detailBox .detailBox-left,
.vc_row .detailBox .detailBox-right,
.detailBox .detailBox-left,
.detailBox .detailBox-right {
	width: 49%;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.vc_row .detailBox .detailBoxTrigger,
.detailBox .detailBoxTrigger {
	display: inline-block;
	position: relative;
	font-size: 1.25em;
	margin-bottom: 1em;
	text-transform: uppercase;
	cursor: pointer;
	margin-right: 1em;
}

.vc_row .detailBox .detailBoxTrigger:after,
.detailBox .detailBoxTrigger:after {
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #40a8c9;
    font-size: inherit;
    position: absolute;
    top: 0;
    right: -1em;
}

.vc_row .detailBox .detailBox-right .detailBox-mobile-back:before,
.detailBox .detailBox-right .detailBox-mobile-back:before {
	content: "\f100"; 
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #40a8c9;
	font-size: inherit;
	position: absolute;
	top: -.2em;
	left: 0;
}

.vc_row.orange .detailBox .detailBoxTrigger:after,
.vc_row.orange .detailBox .detailBox-right .detailBox-mobile-back:before {
	color: #004d72;
}

.vc_row.darkblue .detailBox .detailBoxTrigger:after,
.vc_row.darkblue .detailBox .detailBox-right .detailBox-mobile-back:before {
	color: #f37f37;
}

.vc_row.lightblue .detailBox .detailBoxTrigger:after,
.vc_row.lightblue .detailBox .detailBox-right .detailBox-mobile-back:before {
	color: #004d72;
}

.vc_row .detailBox .detailBoxTrigger-container.active .detailBoxTrigger:after,
.detailBox .detailBoxTrigger-container.active .detailBoxTrigger:after {
	content: "\f104";
}

.vc_row .detailBox .detailBoxTrigger:hover,
.vc_row .detailBox .detailBoxTrigger-container.active .detailBoxTrigger,
.detailBox .detailBoxTrigger:hover,
.detailBox .detailBoxTrigger-container.active .detailBoxTrigger,
.vc_row.darkblue .detailBox .detailBoxTrigger:hover,
.vc_row.darkblue .detailBox .detailBoxTrigger-container.active .detailBoxTrigger {
	color: #f36f37;
}

.vc_row.orange .detailBox .detailBoxTrigger:hover,
.vc_row.orange .detailBox .detailBoxTrigger-container.active .detailBoxTrigger,
.vc_row.lightblue .detailBox .detailBoxTrigger:hover,
.vc_row.lightblue .detailBox .detailBoxTrigger-container.active .detailBoxTrigger {
	color: #004d72;
}

.vc_row .detailBox .detailBoxTrigger-container.active .detailBoxTrigger:hover,
.detailBox .detailBoxTrigger-container.active .detailBoxTrigger:hover {
	color: #004d72;
	cursor: default;
}

.vc_row.darkblue .detailBox .detailBoxTrigger-container.active .detailBoxTrigger:hover,
.vc_row.orange .detailBox .detailBoxTrigger-container.active .detailBoxTrigger:hover,
.vc_row.lightblue .detailBox .detailBoxTrigger-container.active .detailBoxTrigger:hover {
	color: #fff;
}

.vc_row .detailBox .detailBox-right,
.detailBox .detailBox-right {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 60%;
	min-height: 300px;
	background-image: url(images/clicklearnmore-wht.svg);
	position: relative;
	height: 100%;
}

.vc_row.orange .detailBox .detailBox-right {
	background-image: url(images/clicklearnmore-org.svg);
}

.vc_row.darkblue .detailBox .detailBox-right {
	background-image: url(images/clicklearnmore-dbl.svg);
}

.vc_row.lightblue .detailBox .detailBox-right {
	background-image: url(images/clicklearnmore-lbl.svg);
}

.vc_row .detailBox .detailBox-right.active,
.detailBox .detailBox-right.active {
	background: transparent !important;
}

.vc_row .detailBox .detailBox-detail,
.detailBox .detailBox-detail {
	position: absolute;
    height: 100%;
    width: 95%;
	display: none;
	padding-left: 1em;
}

.vc_row .detailBox .detailBox-right .detailBox-mobile,
.detailBox .detailBox-right .detailBox-mobile {
	display: none;
}

/* Detail Boxes - Responsive
------------------------------------------------------------ */

@media only screen and (max-width: 640px) {

	.vc_row .detailBox {
		width: 1280px;
		position: relative;
		-webkit-transition: left 300ms cubic-bezier(0.580, 1, 0.835, 1); /* older webkit */
		-webkit-transition: left 300ms cubic-bezier(0.580, 1.230, 0.835, 1.035); 
		-moz-transition: left 300ms cubic-bezier(0.580, 1.230, 0.835, 1.035);
		-ms-transition: left 300ms cubic-bezier(0.580, 1.230, 0.835, 1.035); 
		-o-transition: left 300ms cubic-bezier(0.580, 1.230, 0.835, 1.035); 
		transition: left 300ms cubic-bezier(0.580, 1.230, 0.835, 1.035); /* custom */
		padding: 3em;
	}
	
	.vc_row .detailBox.shifted {
		left: -640px;
	}
	
	.vc_row .detailBox .detailBox-left {
		opacity: 1;
	}
	
	.vc_row .detailBox .detailBox-right {
		opacity: 0;
	}
	
	.vc_row .detailBox.shifted .detailBox-left {
		opacity: 0;
	}
	
	.vc_row .detailBox.shifted .detailBox-right {
		opacity: 1;
	}
	
	.vc_row .detailBox .detailBox-detail,
	.vc_row .detailBox .detailBox-right {
		max-width: 445px;
		padding-left: 0;
	}
	
	.vc_row .detailBox .detailBox-right .detailBox-mobile {
		display: block;
		margin-bottom: 1em;
	}
	
	.vc_row .detailBox .detailBox-right .detailBox-mobile-back {
		font-size: 1.25em;
		text-transform: uppercase;
		padding: 0 1em;
		cursor: pointer;
		position: relative;
		vertical-align: top;
	}
	
	.vc_row .detailBox .detailBox-right .detailBox-mobile-title {
		font-size: 1.25em;
		text-align: center;
		width: 400px;
		display: inline-block;
		font-weight: 900;
		text-transform: uppercase;
	}

}

@media only screen and (max-width: 500px) {

	.vc_row .detailBox {
		width: 640px;
		padding: 1em;
	}
	
	.vc_row .detailBox .detailBox-left, 
	.vc_row .detailBox .detailBox-right {
		width: 45%;
		min-height: 480px;
	}
	
	.vc_row .detailBox .detailBox-left {
		margin-right: 1em;
	}
	
	.vc_row .detailBox .detailBoxTrigger {
		width: 85%;
	}
	
	.vc_row .detailBox.shifted {
		left: -320px;
	}
	
	.vc_row .detailBox .detailBox-right .detailBox-mobile-back {
		left: 1em;
	}
	
	.vc_row .detailBox .detailBox-right .detailBox-mobile-title {
		width: auto;
	}
	
	.vc_row .detailBox .detailBox-detail, .vc_row .detailBox .detailBox-right {
		max-width: 280px;
	}
	
	.vc_row .detailBox .detailBox-detail {
		max-width: 250px;
		padding-left: 2em;
	}
	
	.vc_row .detailBox .detailBox-right .detailBox-mobile-title {
		text-align: left;
		padding-left: 32px;
	}

}

p.debug {
	display: block;
	float: right;
	background: #DDD;
	font-size: 14px;
	clear: both;
}