/***	Add jscomposer extension button icons	***/



/* path to the icon file should be relative to the css file where you place your css rules (this file) */
.vc_modal-dialog .wpb-content-layouts .wpb-layout-element-button .icon-wpb-detailBox {
	background-image: url(icons/detailbox.png);
	background-size: 32px;
}
 
/* .wpb_{shortcode_base} .wpb_element_wrapper selector can be used to add background image to VC shortcode block in the Visual Composer Editor working canvas */
.wpb_detailbox .icon-wpb-detailBox {
	background-image: url(icons/detailbox.png);
	background-size: 32px;
}